*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    height: 160vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to right, #c6ffdd,#fbd786,#f7797d);
    /* background: rgba(0, 0, 0, 0.45) url(BG2ND\ PAGE.jpg); */
    /* background-size: cover; */
    /* overflow: hidden; */
    /* position: relative; */
    /* color: #fff; */
    /* padding: 60px 0 40px 0; */
    /* background-blend-mode: darken; */
}

.container{
    max-width: 700px;
    width: 100%;
    background:rgb(233 204 204 / 37%);
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow:  0 5px 15px rgba(0, 0, 0, .5);
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-top: 0px;
    font-family: sans-serif;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.container form .user-details{
    justify-content: space-between;
    margin: 20px 0 12px 0;
    font-family: sans-serif;
}
form .user-details .input-box1{
    margin-bottom: 15px;
    width: calc(50%);
}
.user-details .input-box1 .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box1 input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;

}
.container form .user-details{
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box2{
    margin-bottom: 15px;
    width: calc(50%);
}
.user-details .input-box2 .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box2 input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;

}
.container form .user-details{
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box3{
    margin-bottom: 15px;
    width: calc(50%);
}
.user-details .input-box3 .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box3 input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

form .user-details .input-box4{
    margin-bottom: 15px;
    width: calc(50%);
}
.user-details .input-box4 .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box4 input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}


/* form input[type="radio"]{
    display: none;
} */
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 84%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 11px;
    letter-spacing: 1px;
    background: linear-gradient(135deg,#e83613,#9b59b6);
    
}
form .button input:hover{
    background: linear-gradient(135deg,#9b59b6,#e83613);
    transition: 0.4s;
}
#erd {
    background: linear-gradient(135deg,#2ad018,#dcc10c);
    color: #fff;
    height: 84%;
    width: 100%;
    border-radius: 11px;
    font-size: 20px;
    /* border: 3px solid; */
    margin-top: 20px;
    margin-bottom: 67px;
    margin-left: 0;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    /* transition: 0.4s; */
}

#erd:hover{
    background: linear-gradient(135deg,#dcc10c,#2ad018);
    /* transition: 0.4s; */
}
a{
    text-decoration: none;
    color:white;
} 